<div style="width: 400px;" >
	<form #f="ngForm" (ngSubmit)="onTryLogin(f)">
		<div class="form-group">
			<label for="userType">User Type</label>
			<select ngModel required #select="ngModel" name="userType" id="userType" class="form-control">
				<option value="0"></option>
				<option *ngFor="let user of userTypes" [value]="user.id">{{user.type}}</option>
			</select>
			<div class="alert alert-danger" *ngIf="select.value=='0'">Please select a value</div>
		</div>

		<div class="form-group">
			<label for="inputEmail">Email</label>
			<input required ngModel name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
				type="email" class="form-control" id="inputEmail" placeholder="Email">
			<div class="alert alert-danger" *ngIf="email.touched && !email.valid">Invalid Input Value</div>
		</div>

		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input ngModel name="password" #password="ngModel" type="password" class="form-control" id="inputPassword"
				placeholder="Password">
			<div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is Required</div>
		</div>


		<!-- <div class="form-group">
		<label class="form-check-label">
			<input type="checkbox" ngModel name="rememberme" #checkbox="ngModel"> Remember me</label>

	</div> -->
		<button type="submit" [disabled]="!f.valid" class="btn btn-primary">Sign in</button>
	</form>
</div>